<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Ejercicio 2</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="contenedor">

    <h1>Formulario de Nombres</h1>

    <form method="POST">

        <label>Nombre 1:</label>

        <input
            type="text"
            name="nombre1"
            required>

        <label>Nombre 2:</label>

        <input
            type="text"
            name="nombre2"
            required>

        <label>Nombre 3:</label>

        <input
            type="text"
            name="nombre3"
            required>

        <button type="submit">

            Enviar

        </button>

    </form>

    {% if nombre %}

    <div class="resultado">

        <p><strong>Nombre con más caracteres:</strong></p>

        <p>{{ nombre }}</p>

        <br>

        <p><strong>Cantidad de caracteres:</strong></p>

        <p>{{ cantidad }}</p>

    </div>

    {% endif %}

    <a href="/" class="volver">

        ← Volver al menú

    </a>

</div>

</body>

</html>